[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ms = {version = "==2.5.0"}
flask-script = "*"
python-json-logger = "==2.0.7"
tornado = ">=6.1,<6.2"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true

[dev-packages]
v = {editable = true,version = "*"}
tox = "*"
bandit = "*"
safety = "*"
pytest = "*"
pytest-cov = "*"
python-coveralls = "*"
